.registr__submit {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    color: #000000;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    border: none;
    margin-top: 216px;
}

.registr__submit:hover {
    opacity: .85;
    cursor: pointer;

}