.submission-form__submit {
    padding: 0;
    margin: 216px 0 0 0;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    color: #000000;
    height: 50px;
    border-radius: 2px;
    background-color: #ffffff;
    border: none;
}

.submission-form__submit:hover {
    opacity: .85;
    cursor: pointer;

}