@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);

@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/_back-opacity/popup_back-opacity_9.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_min-h/popup__container_min-h_181.css);
@import url(./blocks/popup/__container/_min-h/popup__container_min-h_272.css);
@import url(./blocks/popup/__figure-container/popup__figure-container.css);
@import url(./blocks/popup/__figure/popup__figure.css);
@import url(./blocks/popup/__img/popup__img.css);
@import url(./blocks/popup/__img-name/popup__img-name.css);
@import url(./blocks/popup/__form/popup__form.css);
@import url(./blocks/popup/__field/popup__field.css);
@import url(./blocks/popup/__cross/popup__cross.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_mb/popup__title_mb_38.css);
@import url(./blocks/popup/__input/popup__input.css);
@import url(./blocks/popup/__input-error/popup__input-error.css);
@import url(./blocks/popup/__input-error/_active/popup__input-error_active.css);
@import url(./blocks/popup/__input/_type/popup__input_type_name.css);
@import url(./blocks/popup/__input/_type/popup__input_type_job.css);
@import url(./blocks/popup/__input/_type/popup__input_type_error.css);
@import url(./blocks/popup/__submit/popup__submit.css);
@import url(./blocks/popup/__submit/_del/popup__submit_del.css);
@import url(./blocks/popup/__submit/_inactive/popup__submit_inactive.css);
@import url(./blocks/popup/__circle/popup__circle.css);
@import url(./blocks/popup/__circle/_successful/popup__circle_successful.css);
@import url(./blocks/popup/__circle/_successful/popup__circle_not-successful.css);
@import url(./blocks/popup/__span/popup__span.css);

@import url(blocks/submission-form/submission-form.css);
@import url(blocks/submission-form/__form/submission-form__form.css);
@import url(blocks/submission-form/__title/submission-form__title.css);
@import url(blocks/submission-form/__input/submission-form__input.css);
@import url(blocks/submission-form/__submit/submission-form__submit.css);

@import url(blocks/registor/__link-to/registr__link-to.css);

@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(blocks/header/__button/header__button.css);
@import url(./blocks/header/__email/header__email.css);

@import url(./blocks/main/main.css);

@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__main-information/profile__main-information.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__change-avatar/profile__change-avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__profession/profile__profession.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);

@import url(./blocks/elements/elements.css);

@import url(./blocks/element/element.css);
@import url(./blocks/element/__delete-icon/element__delete-icon.css);
@import url(./blocks/element/__img/element__img.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__group/element__group.css);
@import url(./blocks/element/__like/element__like.css);
@import url(./blocks/element/__like-counter/element__like-counter.css);
@import url(./blocks/element/__like/_active/element__like_active.css);

@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);